* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 20px auto 0;
  padding: 10px;
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainTitle {
    color: red;
    width: 200px;
    text-align: center;
    margin: auto;
  }

  .mainInput {
    width: 100%;
    height: 35px;
    border-radius: 5px;
  }

  .main {
    width: 100%;

    ul {
      margin: 5px 0;
      padding: 0;
      list-style-type: none;

      li {
        padding: 5px 0;
        .view {
          display: flex;
          justify-content: space-between;
        }
        .completed {
          background-color: green;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .filters {
        display: flex;

        li {
            margin: 0 5px;
        }
      }
    }
  }
}
