* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 20px auto 0;
  padding: 10px;
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainTitle {
    color: red;
    width: 200px;
    text-align: center;
    margin: auto;
  }

  .mainInput {
    width: 100%;
    height: 35px;
    border-radius: 5px;
  }

  .main {
    width: 100%;

    ul {
      margin: 5px 0;
      padding: 0;
      list-style-type: none;

      li {
        padding: 5px 0;
        .view {
          display: flex;
          justify-content: space-between;

          .deleteIcon:hover {
            cursor: pointer;
          }
        }
        .completed {
          text-decoration-line: line-through;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .filters {
        display: flex;

        li {
          margin: 0 5px;
          padding: 2px 10px;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
          }
        }
        .active {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.form__group {
  margin: 10px 0;
  width: 100%;

  .form__label {
    font-size: 1rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }

  .form__input {
    width: 100%;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 5px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
}

